.footer {
    background-color: darken($secondary, 5%);
    color: $white;

    .logo {
        margin: 0 auto;
        width: 40%;
    }

    a {
        color: $green-light;
        text-decoration: none;

        &:hover {
            color: darken($green-light, 10%);
        }
    }

    p {
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li::before {
            content: "-";
            padding-right: 10px;
        }
    }

    .copyright {
        text-align: center;
        padding: 1rem 0;
    }
}
