.selling-point {
    background-color: #fff;

    &_text {
        padding: 2rem;
        text-align: center;
        border-right: 2px solid $gray-light;

        @media (max-width: 992px) {
            border-right: none;
            padding-bottom: 4rem;
            margin-bottom: 2rem;
            border-bottom: 2px solid $gray-light;
        }

        button {
            padding: 1rem 3rem;
        }
    }
}
