.testimonials {
    padding: 0;
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($green-dark, 0.95));

    .carousel-inner {
        width: 70%;
        margin: 0 auto;
        min-height: 330px;
    }

    .carousel-item {
        text-align: center;
        color: $white;
        padding: 2rem 0;
        height: 100%;
    }

    .testimonial_author {
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1rem;
    }

    .testimonial_rating {
        .stars {
            margin: 0.5rem 0;
        }
    }
}
